:host {
  width: 100%;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 2rem 0;

  &__text {
    color: var(--primary);
    font-weight: 500;
    font-size: var(--font-size-4);
    margin: 0;
  }
}