.auth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 1.5rem;
  padding: 1rem;

  &__left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }

  &__slider {
    position: absolute;
    inset: 0;
    border-radius: 0.75rem;
    overflow: hidden;

    swiper-container {
      position: absolute;
      inset: 0;
      z-index: 0;
    }
  }

  &__slide {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: inherit;
  }

  &__logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 8.438rem;
    height: 2.375rem;
    z-index: 20;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__text {
    position: relative;
    z-index: 30;
    margin-top: auto;
    padding: 1rem;
    color: white;
  }

  &__title {
    font-size: var(--font-size-5);
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  &__subtitle {
    font-size: var(--font-size-1);
    font-weight: 500;
  }
  &__steps {
    display: flex;
    gap: 0.2rem;
    margin: 2rem 0;
    :first-child {
      cursor: pointer;
    }
    &--step {
      width: 2.5rem;
      height: 0.25rem;
      border-radius: 0.25rem;
      background: var(--primary-40);
      &--active {
        width: 3.75rem;
        background: var(--primary);
      }
    }
  }

  &__pagination {
    display: flex;
    z-index: 1;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  &__dot {
    width: 1.875rem;
    height: 0.25rem;
    border-radius: 20%;
    background: var(--gray-light);

    &--active {
      background: var(--white);
      opacity: 1;
      transform: scale(1.2);
      width: 2.813rem;
    }
  }

  &__right {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0.5rem 0;
    form {
      flex: 1;
    }
    &-header {
      text-align: start;
    }
    &-subtitle {
      font-size: var(--font-size-2);
      color: var(--gray-light);
      font-weight: 500;
    }

    &-title {
      font-size: var(--font-size-6);
      font-weight: bold;
      color: var(--primary);
    }
  }
  &__footer {
    text-align: center;
    color: var(--gray-light);
    font-size: var(--font-size-1);

    font-weight: 500;
  }
}
@media (max-width: 768px) {
  .auth {
    grid-template-columns: 1fr;
    &__left {
      min-height: 16rem;
    }
    &__steps {
      margin: 1rem 0;
    }
  }
}
