.reserved-units-table {
    .p-datatable-thead>tr>th {
        display: flex;
        flex-direction: column;
        background: var(--gray-200);
        font-size: var(--font-size-2);
        font-weight: 600;
        padding: 1rem;
        color: var(--primary);
        border-color: white;

        &::after {
            content: "";
            width: 2.5px;
            height: 30px;
            background-color: white;
            border-radius: 25px;
            margin-left: auto;
            margin-top: -42px;
            margin-bottom: 12px;
        }

        &:last-child::after {
            display: none;
        }

        &:first-child {
            border-top-left-radius: 0.375rem;
            border-bottom-left-radius: 0.375rem;
        }

        &:last-child {
            border-top-right-radius: 0.375rem;
            border-bottom-right-radius: 0.375rem;
        }

    }


    .p-datatable-tbody>tr>td {
        display: flex;
        flex-direction: column;
        font-size: var(--font-size-2);
        font-weight: 500;
        background: var(--gray-200);
        border-width: 4px 0px 1px 0;
        border-color: white;

        &::after {
            content: "";
            width: 2.5px;
            height: 30px;
            background-color: white;
            border-radius: 25px;
            margin-left: auto;
            margin-top: -42px;
            margin-bottom: 12px;
        }

        &:last-child::after {
            display: none;
        }

        &:first-child {
            border-top-left-radius: 0.375rem;
            border-bottom-left-radius: 0.375rem;
        }

        &:last-child {
            border-top-right-radius: 0.375rem;
            border-bottom-right-radius: 0.375rem;
        }
    }
}