<section class="promotional-banner">
  <div class="promotional-banner__container">
    <div class="promotional-banner__content">
      <h2 class="promotional-banner__title">
        {{ 'home.promotionalBanner.title' | transloco }}
      </h2>
      <p class="promotional-banner__description">
        {{ 'home.promotionalBanner.description' | transloco }}
      </p>
      <p-button
        [label]="'home.promotionalBanner.knowMore' | transloco"
        icon="pi pi-arrow-right"
        iconPos="right"
        styleClass="promotional-banner__button"
      />
    </div>

    <div class="promotional-banner__brand">
      <span class="promotional-banner__brand-text">Homfly.</span>
    </div>
  </div>
</section>
