.profile-sidebar {
  background-color: var(--white);
  border: 0.0625rem solid var(--border-color);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}

.profile-sidebar__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-sidebar__section-title {
  color: var(--text-secondary);
  font-size: var(--font-size-1);
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}

.profile-sidebar__items {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

:host ::ng-deep .profile-sidebar__item.p-button {
  justify-content: flex-start;
  padding-block: 0.65rem;
  padding-inline: 0.75rem;
  border-radius: 0.75rem;
  gap: 0.75rem;
  color: var(--text-secondary);
}

:host ::ng-deep .profile-sidebar__item.p-button:hover {
  background-color: var(--gray-30);
}

:host ::ng-deep .profile-sidebar__item--active.p-button {
  background-color: var(--primary-5);
  color: var(--primary);
}

.profile-sidebar__item-content {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.profile-sidebar__item-label {
  font-size: var(--font-size-1);
  font-weight: 500;
}

.profile-sidebar__item-icon {
  width: 1.25rem;
  height: 1.25rem;
}

@media (max-width: 75rem) {
  .profile-sidebar {
    border-radius: 1.25rem;
  }
}
