.form {
  &__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 1rem;
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  &__label {
    font-size: var(--font-size-2);
    font-weight: 500;
    color: var(--black);
    .optional {
      font-size: var(--font-size-0);
      font-weight: 400;
    }
  }

  &__options {
    display: flex;
    align-items: center;
  }

  &__checkbox {
    width: 1rem;
    height: 1rem;
  }

  &__checkbox-label {
    font-size: var(--font-size-1);
    color: var(--dark);
    font-weight: 500;
  }
}
