.project-hero {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 23.875rem;
  width: 100%;
  padding: 0rem 2.75rem;


  @media (max-width: 768px) {
    height: 18rem;
  }

  &__image-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;

  }

  &__overlay {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 100%);
    margin-inline-start: -100%;
    border-radius: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2.75rem;
    z-index: 1;
    margin-inline-start: -100%;
    width: 100%;

    @media (max-width: 768px) {
      padding: 1.5rem;
    }
  }

  &__breadcrumb {
    ::ng-deep {
      .p-breadcrumb {
        background: transparent;
        border: none;
        padding: 0;

        .p-breadcrumb-list {
          gap: 0.5rem;
        }

        .p-breadcrumb-item-link {
          color: var(--white);
          font-size: var(--font-size-1);

          &:hover {
            color: var(--primary-400);
          }
        }

        .p-breadcrumb-separator {
          color: var(--white);
        }
      }
    }
  }

  &__title {
    font-size: var(--font-size-7);
    font-weight: 600;
    color: var(--white);
    margin: 0;

    @media (max-width: 768px) {
      font-size: var(--font-size-5);
    }
  }
}