.form {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    justify-content: space-between;

    form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      justify-content: space-between;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  &__label {
    font-size: var(--font-size-2);
    font-weight: 500;
    color: var(--black);
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &--label {
      font-size: var(--font-size-0);
      color: var(--primary);
      font-weight: 500;
      --p-button-text-color: var(--secondary);
    }
    .checkbox-text {
      display: inline-flex;
      gap: 0.2rem;
    }
  }
}
.terms-link {
  text-decoration: none;
  cursor: pointer;
  font-size: var(--font-size-0);
  font-weight: 500;
  color: var(--secondary);
}

.shake {
  animation: shake 0.5s;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
