<section class="form__body">
  <form [formGroup]="accountForm">
    <!-- Nationality -->
    <div class="form__group">
      <label class="form__label" for="nationality">
        {{ "account.nationality" | transloco }}
      </label>
      <div>
        <p-select
          [options]="nationalities"
          formControlName="nationality"
          [filter]="true"
          inputId="nationality"
          [optionLabel]="
            translocoService.getActiveLang() === 'en' ? 'name_en' : 'name_ar'
          "
          optionValue="code"
          [placeholder]="'account.nationalityPlaceholder' | transloco"
        />
        <validation-error
          [control]="accountForm.controls['nationality']"
        ></validation-error>
      </div>
    </div>

    <!-- Password -->
    <div class="form__group">
      <label class="form__label" for="password">
        {{ "account.password" | transloco }}
      </label>
      <div>
        <p-password
          [toggleMask]="true"
          [feedback]="false"
          [placeholder]="'account.passwordPlaceholder' | transloco"
          inputId="password"
          formControlName="password"
          autocomplete="new-password"
        ></p-password>
        <validation-error
          [control]="accountForm.controls['password']"
        ></validation-error>
      </div>
    </div>

    <!-- Confirm Password -->
    <div class="form__group">
      <label class="form__label" for="repeatPassword">
        {{ "account.confirmPassword" | transloco }}
      </label>
      <div>
        <p-password
          [toggleMask]="true"
          [feedback]="false"
          inputId="repeatPassword"
          [placeholder]="'account.confirmPasswordPlaceholder' | transloco"
          formControlName="repeatPassword"
          autocomplete="new-password"
        ></p-password>
        <validation-error
          [control]="accountForm.controls['repeatPassword']"
        ></validation-error>
      </div>
    </div>

    <!-- Terms & Conditions -->
    <div class="form__checkbox" [class.shake]="shakeCheckbox()">
      <p-checkbox
        [formControl]="agree"
        inputId="remember"
        [binary]="true"
        class="form__checkbox--label"
        [invalid]="!agree.value && (agree.touched || agree.dirty)"
      >
      </p-checkbox>

      <span class="checkbox-text">
        <label for="remember" class="form__checkbox--label">
          {{ "account.agreeWith" | transloco }}
        </label>
        <a class="terms-link" (click)="showDialog()">
          {{ "account.terms" | transloco }}
        </a>
      </span>
    </div>
  </form>

  <!-- Submit -->
  <p-button
    type="button"
    fluid
    (click)="signUp()"
    [disabled]="loading()"
    aria-label="Sign up"
    [label]="'account.signUp' | transloco"
  >
  </p-button>
</section>
