<section class="property-categories">
  <div class="property-categories__container">
    <div class="property-categories__grid">
      @for (category of categories; track category.title) {
        <a [href]="category.link" class="category-card">
          <div class="category-card__image-wrapper">
            <img [src]="category.image" [alt]="category.title" class="category-card__image" />
            <div class="category-card__overlay"></div>
          </div>
          <div class="category-card__content">
            <h3 class="category-card__title">{{ category.title }}</h3>
            <p class="category-card__description">{{ category.description }}</p>
          </div>
        </a>
      }
    </div>
  </div>
</section>
