.project-map {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;

  &__title {
    font-size: var(--font-size-6);
    font-weight: 600;
    color: var(--text-primary);
    margin: 0;
    
    @media (max-width: 768px) {
      font-size: var(--font-size-5);
    }
  }

  &__container {
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    height: 19.75rem;

    @media (max-width: 768px) {
      height: 15rem;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
