.unit-info-header {
  padding: 1.5rem;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__breadcrumb-item {
    font-size: var(--font-size-1);
    color: var(--text-secondary);

    &:last-child {
      color: var(--primary);
      font-weight: 500;
    }
  }

  &__breadcrumb-separator {
    font-size: var(--font-size-1);
    color: var(--text-tertiary);
  }

  &__title {
    font-size: var(--font-size-8);
    font-weight: 600;
    color: var(--primary-700);
    margin: 0;
    line-height: 1.25;

    @media (max-width: 48rem) {
      font-size: var(--font-size-6);
    }
  }

  &__address {
    font-size: var(--font-size-2);
    color: var(--black);
    margin: 0;
    margin-top: 0.5rem;
  }

  &__attributes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;

    @media (max-width: 48rem) {
      gap: 0.75rem;
    }
  }

  &__attribute {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    min-width: 6.5rem;
    padding: 0 1rem;

    @media (max-width: 48rem) {
      min-width: 5rem;
      padding: 0 0.5rem;
    }
  }

  &__attribute-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.25rem;
    height: 3.25rem;
    background-color: var(--gray-100);
    border-radius: 0.75rem;

    @media (max-width: 48rem) {
      width: 3rem;
      height: 3rem;
    }
  }

  &__icon {
   
    color: var(--primary);

    @media (max-width: 48rem) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__attribute-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.125rem;
    text-align: center;
  }

  &__attribute-value {
    font-size: var(--font-size-2);
    font-weight: 600;
    color: var(--text-primary);
  }

  &__attribute-label {
    font-size: var(--font-size-1);
    color: var(--text-secondary);
  }
}

// RTL Support
[dir='rtl'] {
  .unit-info-header {
    &__breadcrumbs {
      flex-direction: row-reverse;
    }
  }
}
