.forget {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 1.5rem;
  padding: 1rem;

  &__left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .forget__logo {
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 8.438rem;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    .forget__bg {
      position: absolute;
      inset: 0;
      border-radius: 0.75rem;
      overflow: hidden;

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .forget__overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
      }
    }

    .forget__intro {
      position: relative;
      z-index: 1;
      margin-top: auto;
      padding: 1rem;
      color: white;

      .forget__title {
        font-size: var(--font-size-5);
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      .forget__desc {
        font-size: var(--font-size-1);
        font-weight: 500;
      }
    }
  }

  .forget__form-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    .forget__header {
      margin-bottom: 2rem;

      &-title {
        font-size: var(--font-size-6);
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.5rem;
      }

      &-subtitle {
        font-size: var(--font-size-2);
        color: var(--gray-light);
      }
    }

    .forget__form {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      &-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .forget__label {
          font-size: var(--font-size-2);
          font-weight: 500;
        }

        .forget__input {
          padding: 0.75rem 1rem;
          border: 0.063rem solid #ccc;
          border-radius: 0.375rem;
          font-size: var(--font-size-2);
          transition: border 0.2s, box-shadow 0.2s;
        }
      }
    }

    .forget__footer {
      text-align: center;
      font-size: var(--font-size-1);
      color: var(--gray-light);
    }
  }
}
@media (max-width: 768px) {
  .forget {
    grid-template-columns: 1fr;
    &__left {
      min-height: 16rem;
    }
  }
}
