<section class="forget">
  <!-- Left Side -->
  <aside class="forget__left">
    <figure class="forget__logo">
      <img src="images/auth/login.png" alt="TMG Logo" />
    </figure>

    <div class="forget__bg">
      <img
        src="images/auth/forget-password.jpg"
        alt="Reset Password Illustration"
        class="forget__bg-img"
      />
      <div class="forget__overlay"></div>
    </div>

    <div class="forget__intro">
      <h2 class="forget__title">
        {{ "forget.sliderTitle" | transloco }}
      </h2>
      <p class="forget__desc">
        {{ "forget.sliderDescription" | transloco }}
      </p>
    </div>
  </aside>

  <!-- Right Side -->
  <div class="forget__form-box">
    <header class="forget__header">
      <h1 class="forget__header-title">
        {{ "forget.title" | transloco }}
      </h1>
      <p class="forget__header-subtitle">
        {{ "forget.subtitle" | transloco }}
      </p>
    </header>

    <section class="forget__form">
      <div class="forget__form-group">
        <label for="phone" class="forget__label">
          {{ "forget.phoneLabel" | transloco }}
        </label>

        <form [formGroup]="identifier">
          <mobile-number-input></mobile-number-input>
        </form>
      </div>

      <p-button fluid type="button" (click)="submit()" [disabled]="loading()"
        ><span pButtonLabel>
          {{
            loading()
              ? ("forget.loading" | transloco)
              : ("forget.resetPassword" | transloco)
          }}</span
        >
      </p-button>
    </section>

    <footer class="forget__footer">
      <i class="pi pi-angle-left forget__back-icon"></i>
      {{ "forget.backTo" | transloco }}
      <p-button
        [label]="'forget.signIn' | transloco"
        link
        (click)="openSignIn()"
      ></p-button>
    </footer>
  </div>
</section>
