.card {
  display: flex;
  justify-content: center;
  // padding: 1rem;

  .header {
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-bottom: 0rem;
  }

  .footer {
    padding: 1rem;
  }

  .item {
    padding: 1rem;
    padding-top: 0%;

    .areaRange-desc {
      display: flex;
      justify-content: space-between;
      margin: 0.5rem 0;
    }

    .inputs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
    }
  }
}

:host::ng-deep.p-select {
  width: 100% !important;
}

:host::ng-deep.p-inputnumber {
  width: 100%;
}

:host ::ng-deep {
  .p-select-list {
    display: none !important;
  }
}

::ng-deep {

  .shared-input-range-wrapper~div[data-pc-name="pcoverlay"],
  body>div[data-pc-name="pcoverlay"]:has(.range-select-panel) {
    p-motion {
      .p-overlay-content {
        padding: 0;

        .p-select-overlay.range-select-panel {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          gap: 0.7rem;

          .item {
            display: grid;
            gap: 1.4rem;

            .inputs {
              display: flex;
              gap: 1rem;
            }

            .areaRange-desc {
              display: flex;
              justify-content: space-between;
            }
          }

          .p-select-list-container {
            display: none;
          }
        }
      }
    }
  }
}