.dialog-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .custom-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    padding: 1.2rem;

    .title {
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--primary);
    }
  }

  .scrollable-content {
    flex: 1;
    overflow-y: auto;
    padding: 0 1.5rem;
    direction: ltr;
  }

  .terms-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    &.ar-first {
      flex-direction: column-reverse;
    }

    ::ng-deep .section {
      padding: 1rem 0;

      h3 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        color: var(--primary);
        font-size: larger;
      }


      p {
        hyphens: auto;
        text-align: justify;
        margin-bottom: 0.8rem;
        font-weight: 500;
        line-height: 1.6;
        color: var(--dark);
        font-size: 1rem;
      }

      ul {
        padding-inline-start: 1.2rem;
        list-style: disc;
        margin-bottom: 1rem;

        li {
          margin-bottom: 0.5rem;
          line-height: 1.6;
          font-size: var(--font-size-2);

          &::marker {
            color: var(--secondary);
          }
        }
      }

      .text-primary {
        color: var(--secondary);
        font-weight: 600;
      }

      .underline {
        text-decoration: underline;
        display: inline;
      }

      .inline {
        display: inline;
        font-weight: 600;
      }
    }
  }

  .footer {
    padding: 1rem 1.5rem;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: flex-end;
    background-color: var(--gray);
  }

  p-button {
    background-color: var(--primary);
    padding: 0.6rem 0.7rem;
    border: solid 2px var(--primary);
    border-radius: 3px;
    cursor: pointer;
  }
  ::ng-deep [terms-close-btn] .p-button-label {
    padding: 0.2rem;
}
}