<article class="project-features">
  <h2 class="project-features__title">
    {{ 'modelDetails.projectFeatures.title' | transloco }}
  </h2>

  <div class="project-features__grid">
    @for (feature of features(); track $index) {
      <div class="project-features__item">
        <div class="project-features__icon-wrapper">
          <svg-icon [name]="feature.icon" class="project-features__icon" />
        </div>
        <span class="project-features__label">{{ feature.label | transloco }}</span>
      </div>
    }
  </div>
</article>
