.payment-methods {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.05);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: var(--font-size-5);
    font-weight: 600;
    color: var(--primary-600);
    margin: 0;
  }

  &__icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 2.5rem;
    background-color: var(--primary-100);
    cursor: pointer;
    transition: background-color 0.2s ease;
    svg{
      width: 0.665rem;
      height: 0.665rem;
    }
    &:hover {
      background-color: var(--primary-700);
    }
  }

  &__icon {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--white);
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__option {
    display: flex;
    align-items: center;
    padding: 1rem 1.25rem;
    border: 0.0625rem solid var(--border-color);
    border-radius: 0.75rem;
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      border-color: var(--primary-400);
      background-color: var(--primary-5);
    }

    &--selected {
      border-color: var(--primary-600);
      background-color: var(--primary-100);

      .payment-methods__option-text {
        color: var(--primary-700);
        font-weight: 500;
      }
    }
  }

  &__option-text {
    font-size: var(--font-size-2);
    color: var(--text-primary);
  }
}

@media (max-width: 768px) {
  .payment-methods {
    padding: 1rem;

    &__title {
      font-size: var(--font-size-4);
    }

    &__option {
      padding: 0.875rem 1rem;
    }
  }
}
