<div class="model-types-carousel">
  <div class="model-types-carousel__header">
    <h2 class="model-types-carousel__title">{{ 'projectPage.modelTypes.title' | transloco }}</h2>
    
    <div class="model-types-carousel__nav">
      <p-button
        icon="pi pi-chevron-left"
        [rounded]="true"
        [outlined]="true"
        severity="secondary"
        (onClick)="onPrev()"
        [style]="{ width: '3rem', height: '3rem' }"
      />
      <p-button
        icon="pi pi-chevron-right"
        [rounded]="true"
        [outlined]="true"
        severity="secondary"
        (onClick)="onNext()"
        [style]="{ width: '3rem', height: '3rem' }"
      />
    </div>
  </div>
  
  <div class="model-types-carousel__grid">
    @for (modelType of modelTypes(); track modelType.id) {
      <div 
        class="model-types-carousel__item"
        (click)="onModelTypeClick(modelType)"
      >
        <div class="model-types-carousel__image-wrapper">
          <img
            [src]="modelType.imageUrl"
            [alt]="modelType.name"
            class="model-types-carousel__image"
          />
        </div>
        <div class="model-types-carousel__info">
          <span class="model-types-carousel__name">{{ modelType.name }}</span>
        </div>
      </div>
    }
  </div>
</div>
