.new-password-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 1.5rem;
  padding: 1rem;
  .new-left-side {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .new-logo {
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 8.438rem;
      height: 2.375rem;
      z-index: 20;

      .new-logo-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .new-bg-wrapper {
      position: absolute;
      inset: 0;
      border-radius: 0.75rem;
      overflow: hidden;

      .new-bg-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .new-overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
      }
    }

    .new-bottom-text {
      position: relative;
      z-index: 10;
      margin-top: auto;
      padding: 1rem;
      color: white;

      .new-bottom-title {
        font-size: var(--font-size-5);
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      .new-bottom-desc {
        font-size: var(--font-size-1);
        font-weight: 500;
      }
    }
  }

  /* Right Side */
  .new-right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    .new-form-wrapper {
      width: 100%;

      .new-header {
        margin-bottom: 2rem;
        text-align: left;

        .new-header-title {
          font-size: var(--font-size-6);
          font-weight: bold;
          color: var(--primary);
          margin-bottom: 0.5rem;
          .new-header-desc {
            font-size: medium;
            font-weight: 500;
            color: var(--gray-light);
          }
        }
      }

      .new-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .new-form-group {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          .new-label {
            font-size: var(--font-size-2);
            font-weight: 500;
            color: var(--primary);
          }
        }
      }

      .new-footer {
        text-align: center;
        color: var(--gray-light);
        font-size: var(--font-size-1);
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 768px) {
  .new-password-section {
    grid-template-columns: 1fr;
    .new-left-side {
      min-height: 16rem;
    }
  }
}
