<section class="new-password-section">
  <!-- Left Side -->
  <div class="new-left-side">
    <figure class="new-logo">
      <img src="images/auth/login.png" alt="TMG Logo" class="new-logo-img" />
    </figure>

    <div class="new-bg-wrapper">
      <img
        src="/images/auth/new-password.jpg"
        alt="New Password Illustration"
        class="new-bg-image"
      />
      <div class="new-overlay"></div>
    </div>

    <div class="new-bottom-text">
      <h2 class="new-bottom-title">
        {{ "newPassword.sliderTitle" | transloco }}
      </h2>
      <p class="new-bottom-desc">
        {{ "newPassword.sliderDescription" | transloco }}
      </p>
    </div>
  </div>

  <!-- Right Side -->
  <div class="new-right-side">
    <div class="new-form-wrapper">
      <header class="new-header">
        <h1 class="new-header-title">
          {{ "newPassword.title" | transloco }}
        </h1>
        <p class="new-header-desc">
          {{ "newPassword.passwordRules" | transloco }}
        </p>
      </header>

      <form
        [formGroup]="newPasswordForm"
        class="new-form"
        (ngSubmit)="submit()"
      >
        <!-- New Password -->
        <div class="new-form-group">
          <label class="new-label">
            {{ "newPassword.newPasswordLabel" | transloco }}
          </label>

          <p-password
            [toggleMask]="true"
            [feedback]="false"
            [placeholder]="'newPassword.newPasswordPlaceholder' | transloco"
            formControlName="newPassword"
          ></p-password>

          <validation-error
            [control]="newPasswordForm.controls['newPassword']"
          ></validation-error>
        </div>

        <!-- Confirm Password -->
        <div class="new-form-group">
          <label class="new-label">
            {{ "newPassword.confirmPasswordLabel" | transloco }}
          </label>

          <p-password
            [toggleMask]="true"
            [feedback]="false"
            [placeholder]="'newPassword.confirmPasswordPlaceholder' | transloco"
            formControlName="confirmPassword"
          ></p-password>

          <validation-error
            [control]="newPasswordForm.controls['confirmPassword']"
          ></validation-error>
        </div>

        <p-button
          type="submit"
          fluid
          [label]="'newPassword.resetPassword' | transloco"
        >
          >
        </p-button>
      </form>

      <footer class="new-footer">
        <i class="pi pi-angle-left new-back-icon"></i>
        {{ "newPassword.backTo" | transloco }}
        <p-button
          [label]="'newPassword.signIn' | transloco"
          link
          (click)="openSignIn()"
        ></p-button>
      </footer>
    </div>
  </div>
</section>
