.reset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 1.5rem;
  padding: 1.5rem;

  &__left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .reset__logo {
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 8.438rem;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    .reset__bg {
      position: absolute;
      inset: 0;
      border-radius: 0.75rem;
      overflow: hidden;

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .reset__overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
      }
    }

    .reset__intro {
      position: relative;
      z-index: 1;
      margin-top: auto;
      padding: 1rem;
      color: var(--white);

      .reset__title {
        font-size: var(--font-size-5);
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      .reset__desc {
        font-size: var(--font-size-1);
        font-weight: 500;
      }
    }
  }

  /* Right Side */
  &__right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    .reset__header {
      &-title {
        font-size: var(--font-size-6);
        font-weight: 700;
        color: var(--primary);
      }

      &-subtitle {
        color: var(--gray-light);
        font-size: var(--font-size-2);
      }
    }

    .reset__form {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      &-group {
        display: flex;
        flex-direction: column;
        p-inputotp {
          direction: ltr;
          align-self: flex-start;
        }
      }

      .reset__resend {
        font-size: var(--font-size-2);
        color: var(--gray-light);

        .reset__resend-link {
          margin-left: 0.25rem;
          color: var(--primary);
          font-weight: 500;
          cursor: pointer;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .reset__footer {
      text-align: center;
      font-size: var(--font-size-1);
      color: var(--gray-light);
      font-weight: 500;
      .reset__back-link {
        margin-left: 0.25rem;
        color: var(--secondary);
        font-weight: 500;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .reset {
    grid-template-columns: 1fr;
    &__left {
      min-height: 16rem;
    }
  }
}
