/* You can add global styles to this file, and also import other style files */
@use "index" as *;
@import "primeicons/primeicons.css";

:root {
  --font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.p-select-overlay,
.p-select-panel {
  z-index: 9999 !important;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset common elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
dd,
fieldset {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Utility Classes */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

/* Component Resets */
svg-icon {
  display: inline-flex !important;
}