@font-face {
  font-family: "Montserrat";
  src: url("public/fonts/Montserrat/Montserrat-Regular.woff2");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("public/fonts/Montserrat/Montserrat-Medium.woff2");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("public/fonts/Montserrat/Montserrat-Bold.woff2");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("public/fonts/Montserrat/Montserrat-SemiBold.woff2");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Cairo";
  src: url("public/fonts/Cairo/Cairo-Regular.woff2");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Cairo";
  src: url("public/fonts/Cairo/Cairo-Medium.woff2");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Cairo";
  src: url("public/fonts/Cairo/Cairo-Bold.woff2");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Cairo";
  src: url("public/fonts/Cairo/Cairo-SemiBold.woff2");
  font-display: swap;
  font-weight: 600;
}
